@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon/icomoon.eot?iukclq');
  src:  url('/fonts/icomoon/icomoon.eot?iukclq#iefix') format('embedded-opentype'),
  url('/fonts/icomoon/icomoon.ttf?iukclq') format('truetype'),
  url('/fonts/icomoon/icomoon.woff?iukclq') format('woff'),
  url('/fonts/icomoon/icomoon.svg?iukclq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-book_opened:before {
  content: "\e901";
}
.icon-instagram:before {
  content: "\e902";
}
.icon-youtube:before {
  content: "\e903";
}
.icon-map_ico:before {
  content: "\e900";
  color: #0F9078;
}



@font-face {
  font-family: 'Circe';
  src: url("/fonts/circe/Circe-Bold.eot");
  src: local("Circe Bold"), local("CirceBold"), url("/fonts/circe/Circe-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/circe/Circe-Bold.woff") format("woff"), url("/fonts/circe/Circe-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Circe';
  src: url("/fonts/circe/Circe-ExtraBold.eot");
  src: local("Circe ExtraBold"), local("CirceExtraBold"), url("/fonts/circe/Circe-ExtraBold.eot?#iefix") format("embedded-opentype"), url("/fonts/circe/Circe-ExtraBold.woff") format("woff"), url("/fonts/circe/Circe-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Circe';
  src: url("/fonts/circe/Circe-ExtraLight.eot");
  src: local("Circe ExtraLignt"), local("CirceExtraLight"), url("/fonts/circe/Circe-ExtraLight.eot?#iefix") format("embedded-opentype"), url("/fonts/circe/Circe-ExtraLight.woff") format("woff"), url("/fonts/circe/Circe-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Circe';
  src: url("/fonts/circe/Circe-Light.eot");
  src: local("Circe Light"), local("CirceLight"), url("/fonts/circe/Circe-Light.eot?#iefix") format("embedded-opentype"), url("/fonts/circe/Circe-Light.woff") format("woff"), url("/fonts/circe/Circe-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Circe';
  src: url("/fonts/circe/Circe-Regular.eot");
  src: local("Circe Regular"), local("CiceRegular"), url("/fonts/circe/Circe-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/circe/Circe-Regular.woff") format("woff"), url("/fonts/circe/Circe-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Circe';
  src: url("/fonts/circe/Circe-Thin.eot");
  src: local("Circe Thin"), local("CirceThin"), url("/fonts/circe/Circe-Thin.eot?#iefix") format("embedded-opentype"), url("/fonts/circe/Circe-Thin.woff") format("woff"), url("/fonts/circe/Circe-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Axiforma';
  src: url("/fonts/axiforma/Axiforma-Book.eot");
  src: local("Axiforma Book"), local("AxiformaBook"), url("/fonts/axiforma/Axiforma-Book.eot?#iefix") format("embedded-opentype"), url("/fonts/axiforma/Axiforma-Book.woff") format("woff"), url("/fonts/axiforma/Axiforma-Book.ttf") format("truetype");
  font-weight: 350;
  font-style: normal;
}
@font-face {
  font-family: 'Axiforma';
  src: url("/fonts/axiforma/Axiforma-Bold.eot");
  src: local("Axiforma Bold"), local("AxiformaBold"), url("/fonts/axiforma/Axiforma-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/axiforma/Axiforma-Bold.woff") format("woff"), url("/fonts/axiforma/Axiforma-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Neue';
  src: url("/fonts/helvetica/HelveticaNeue.eot");
  src: local("Helvetica Neue Regular"), local("HelveticaNeueRegular"), url("/fonts/helvetica/HelveticaNeue.eot?#iefix") format("embedded-opentype"), url("/fonts/helvetica/HelveticaNeue.woff") format("woff"), url("/fonts/helvetica/HelveticaNeue.ttf"), format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Neue';
  src: url("/fonts/helvetica/HelveticaNeue-Bold.eot");
  src: local("Helvetica Neue Bold"), local("HelveticaNeueBold"), url("/fonts/helvetica/HelveticaNeue-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/helvetica/HelveticaNeue-Bold.woff") format("woff"), url("/fonts/helvetica/HelveticaNeue-Bold.ttf"), format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Neue Medium';
  src: url("/fonts/helvetica/HelveticaNeue-Medium.eot");
  src: local("Helvetica Neue Medium"), local("HelveticaNeueMedium"), url("/fonts/helvetica/HelveticaNeue-Medium.eot?#iefix") format("embedded-opentype"), url("/fonts/helvetica/HelveticaNeue-Medium.woff") format("woff"), url("/fonts/helvetica/HelveticaNeue-Medium.ttf"), format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Neue';
  src: local('Helvetica Neue Medium'), local('Helvetica-Neue-Medium'),
  url('/fonts/helvetica/HelveticaNeueCyr-Medium.woff2') format('woff2'),
  url('/fonts/helvetica/HelveticaNeueCyr-Medium.woff') format('woff'),
  url('/fonts/helvetica/HelveticaNeueCyr-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Intro Script B H2 Shade';
  src: url('/fonts/introscript/IntroScriptB-Base.eot');
  src: local('Intro Script B H2 Shade'), local('IntroScriptB-H2Shade'),
  url('/fonts/introscript/IntroScriptB-H2Shade.eot?#iefix') format('embedded-opentype'),
  url('/fonts/introscript/IntroScriptB-H2Shade.woff') format('woff'),
  url('/fonts/introscript/IntroScriptB-H2Shade.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Intro Script B H2 Base Shade';
  src: url('/fonts/introscript/IntroScriptB-H2BaseShade.eot');
  src: local('Intro Script B H2 Base Shade'), local('IntroScriptB-H2BaseShade'),
  url('/fonts/introscript/IntroScriptB-H2BaseShade.eot?#iefix') format('embedded-opentype'),
  url('/fonts/introscript/IntroScriptB-H2BaseShade.woff') format('woff'),
  url('/fonts/introscript/IntroScriptB-H2BaseShade.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Intro Script B G Base';
  src: url('/fonts/introscript/IntroScriptB-GBase.eot');
  src: local('Intro Script B G Base'), local('IntroScriptB-GBase'),
  url('/fonts/introscript/IntroScriptB-GBase.eot?#iefix') format('embedded-opentype'),
  url('/fonts/introscript/IntroScriptB-GBase.woff') format('woff'),
  url('/fonts/introscript/IntroScriptB-GBase.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Intro Script B L Base Shade';
  src: url('/fonts/introscript/IntroScriptB-LBaseShade.eot');
  src: local('Intro Script B L Base Shade'), local('IntroScriptB-LBaseShade'),
  url('/fonts/introscript/IntroScriptB-LBaseShade.eot?#iefix') format('embedded-opentype'),
  url('/fonts/introscript/IntroScriptB-LBaseShade.woff') format('woff'),
  url('/fonts/introscript/IntroScriptB-LBaseShade.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Intro Script B L Base';
  src: url('/fonts/introscript/IntroScriptB-LBase.eot');
  src: local('Intro Script B L Base'), local('IntroScriptB-LBase'),
  url('/fonts/introscript/IntroScriptB-LBase.eot?#iefix') format('embedded-opentype'),
  url('/fonts/introscript/IntroScriptB-LBase.woff') format('woff'),
  url('/fonts/introscript/IntroScriptB-LBase.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Intro Script B Base Shade';
  src: url('/fonts/introscript/IntroScriptB-BaseShade.eot');
  src: local('Intro Script B Base Shade'), local('IntroScriptB-BaseShade'),
  url('/fonts/introscript/IntroScriptB-BaseShade.eot?#iefix') format('embedded-opentype'),
  url('/fonts/introscript/IntroScriptB-BaseShade.woff') format('woff'),
  url('/fonts/introscript/IntroScriptB-BaseShade.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Intro Script B H1';
  src: url('/fonts/introscript/IntroScriptB-H1.eot');
  src: local('Intro Script B H1'), local('IntroScriptB-H1'),
  url('/fonts/introscript/IntroScriptB-H1.eot?#iefix') format('embedded-opentype'),
  url('/fonts/introscript/IntroScriptB-H1.woff') format('woff'),
  url('/fonts/introscript/IntroScriptB-H1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Intro Script B H2';
  src: url('/fonts/introscript/IntroScriptB-H2.eot');
  src: local('Intro Script B H2'), local('IntroScriptB-H2'),
  url('/fonts/introscript/IntroScriptB-H2.eot?#iefix') format('embedded-opentype'),
  url('/fonts/introscript/IntroScriptB-H2.woff') format('woff'),
  url('/fonts/introscript/IntroScriptB-H2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Intro Script BL';
  src: url('/fonts/introscript/IntroScriptB-L.eot');
  src: local('Intro Script B L'), local('IntroScriptB-L'),
  url('/fonts/introscript/IntroScriptB-L.eot?#iefix') format('embedded-opentype'),
  url('/fonts/introscript/IntroScriptB-L.woff') format('woff'),
  url('/fonts/introscript/IntroScriptB-L.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Intro Script B Shade';
  src: url('/fonts/introscript/IntroScriptB-Shade.eot');
  src: local('Intro Script B Shade'), local('IntroScriptB-Shade'),
  url('/fonts/introscript/IntroScriptB-Shade.eot?#iefix') format('embedded-opentype'),
  url('/fonts/introscript/IntroScriptB-Shade.woff') format('woff'),
  url('/fonts/introscript/IntroScriptB-Shade.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Intro Script B L Shade';
  src: url('/fonts/introscript/IntroScriptB-LShade.eot');
  src: local('Intro Script B L Shade'), local('IntroScriptB-LShade'),
  url('/fonts/introscript/IntroScriptB-LShade.eot?#iefix') format('embedded-opentype'),
  url('/fonts/introscript/IntroScriptB-LShade.woff') format('woff'),
  url('/fonts/introscript/IntroScriptB-LShade.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Intro Script B H1 Base';
  src: url('/fonts/introscript/IntroScriptB-H1Base.eot');
  src: local('Intro Script B H1 Base'), local('IntroScriptB-H1Base'),
  url('/fonts/introscript/IntroScriptB-H1Base.eot?#iefix') format('embedded-opentype'),
  url('/fonts/introscript/IntroScriptB-H1Base.woff') format('woff'),
  url('/fonts/introscript/IntroScriptB-H1Base.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Futura-Medium";
  src: url("/fonts/futura/FuturaPT-Medium.eot");
 src: url("/fonts/futura/FuturaPT-Medium.eot?#iefix") format("embedded-opentype"),
  url("/fonts/futura/FuturaPT-Medium.ttf") format("truetype"),
  url("/fonts/futura/FuturaPT-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Intro Script B H1 Shade';
  src: url('/fonts/introscript/IntroScriptB-H1Shade.eot');
  src: local('Intro Script B H1 Shade'), local('IntroScriptB-H1Shade'),
  url('/fonts/introscript/IntroScriptB-H1Shade.eot?#iefix') format('embedded-opentype'),
  url('/fonts/introscript/IntroScriptB-H1Shade.woff') format('woff'),
  url('/fonts/introscript/IntroScriptB-H1Shade.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Intro Script B H2 Base';
  src: url('/fonts/introscript/IntroScriptB-H2Base.eot');
  src: local('Intro Script B H2 Base'), local('IntroScriptB-H2Base'),
  url('/fonts/introscript/IntroScriptB-H2Base.eot?#iefix') format('embedded-opentype'),
  url('/fonts/introscript/IntroScriptB-H2Base.woff') format('woff'),
  url('/fonts/introscript/IntroScriptB-H2Base.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Intro Script B G Base Shade';
  src: url('/fonts/introscript/IntroScriptB-GBaseShade.eot');
  src: local('Intro Script B G Base Shade'), local('IntroScriptB-GBaseShade'),
  url('/fonts/introscript/IntroScriptB-GBaseShade.eot?#iefix') format('embedded-opentype'),
  url('/fonts/introscript/IntroScriptB-GBaseShade.woff') format('woff'),
  url('/fonts/introscript/IntroScriptB-GBaseShade.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Intro Script BG';
  src: url('/fonts/introscript/IntroScriptB-G.eot');
  src: local('Intro Script B G'), local('IntroScriptB-G'),
  url('/fonts/introscript/IntroScriptB-G.eot?#iefix') format('embedded-opentype'),
  url('/fonts/introscript/IntroScriptB-G.woff') format('woff'),
  url('/fonts/introscript/IntroScriptB-G.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Intro Script B H1 Base Shade';
  src: url('/fonts/introscript/IntroScriptB-H1BaseShade.eot');
  src: local('Intro Script B H1 Base Shade'), local('IntroScriptB-H1BaseShade'),
  url('/fonts/introscript/IntroScriptB-H1BaseShade.eot?#iefix') format('embedded-opentype'),
  url('/fonts/introscript/IntroScriptB-H1BaseShade.woff') format('woff'),
  url('/fonts/introscript/IntroScriptB-H1BaseShade.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Intro Script B Base';
  src: url('/fonts/introscript/IntroScriptB-Base.eot');
  src: local('Intro Script B Base'), local('IntroScriptB-Base'),
  url('/fonts/introscript/IntroScriptB-Base.eot?#iefix') format('embedded-opentype'),
  url('/fonts/introscript/IntroScriptB-Base.woff') format('woff'),
  url('/fonts/introscript/IntroScriptB-Base.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Intro Script B G Shade';
  src: url('/fonts/introscript/IntroScriptB-GShade.eot');
  src: local('Intro Script B G Shade'), local('IntroScriptB-GShade'),
  url('/fonts/introscript/IntroScriptB-GShade.eot?#iefix') format('embedded-opentype'),
  url('/fonts/introscript/IntroScriptB-GShade.woff') format('woff'),
  url('/fonts/introscript/IntroScriptB-GShade.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
