.instagram-icon {
  position: absolute;
  top: 50%;
  background: url(/images/common/instagram-brands.svg) no-repeat;
  width: 71px;
  height: 80px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: .5s ease;
  opacity: 0;
}
a:hover .instagram-icon {
  opacity: 1;
}
a:hover .images-instagram {
  filter: brightness(40%);


}
.images-instagram {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
  transition: .5s ease;
}
#instagram_container a {
  text-decoration: none;
}

.region-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.x-subtitle {
  font-size: 16px;
  color: #8c8c8c;
}
.subtitle {
  font-size: 24px;
}

* {
  transition: opacity 0.3s ease-in;
}



#Path_1200 {
  cursor: pointer;
  &:hover {
    opacity: 0.5;
  }
}
#Path_1432 {
  cursor: pointer;
  &:hover {
    opacity: 0.5;
  }
}
#Path_1433 {
  cursor: pointer;
  &:hover {
    opacity: 0.5;
  }
}
#Path_1434 {
  cursor: pointer;
  &:hover {
    opacity: 0.5;
  }
}
#Path_1435 {
  cursor: pointer;
  &:hover {
    opacity: 0.5;
  }
}
#Path_1437 {
  cursor: pointer;
  &:hover {
    opacity: 0.5;
  }
}
#Path_1438 {
  cursor: pointer;
  &:hover {
    opacity: 0.5;
  }
}

#Path_1436 {
  cursor: pointer;
  &:hover {
    opacity: 0.5;
  }
}
#Path_1440 {
  cursor: pointer;
  &:hover {
    opacity: 0.5;
  }
}
#Path_1439 {
  cursor: pointer;
  &:hover {
    opacity: 0.5;
  }
}
#Path_1441 {
  cursor: pointer;
  &:hover {
    opacity: 0.5;
  }
}












