@charset "UTF-8";

@font-face {
  font-family: "icomoon";
  src: url("/fonts/icomoon/icomoon.eot?iukclq");
  src: url("/fonts/icomoon/icomoon.eot?iukclq#iefix") format("embedded-opentype"), url("/fonts/icomoon/icomoon.ttf?iukclq") format("truetype"), url("/fonts/icomoon/icomoon.woff?iukclq") format("woff"), url("/fonts/icomoon/icomoon.svg?iukclq#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-book_opened:before {
  content: "\E901";
}

.icon-instagram:before {
  content: "\E902";
}

.icon-youtube:before {
  content: "\E903";
}

.icon-map_ico:before {
  content: "\E900";
  color: #0F9078;
}

@font-face {
  font-family: "Circe";
  src: url("/fonts/circe/Circe-Bold.eot");
  src: local("Circe Bold"), local("CirceBold"), url("/fonts/circe/Circe-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/circe/Circe-Bold.woff") format("woff"), url("/fonts/circe/Circe-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Circe";
  src: url("/fonts/circe/Circe-ExtraBold.eot");
  src: local("Circe ExtraBold"), local("CirceExtraBold"), url("/fonts/circe/Circe-ExtraBold.eot?#iefix") format("embedded-opentype"), url("/fonts/circe/Circe-ExtraBold.woff") format("woff"), url("/fonts/circe/Circe-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Circe";
  src: url("/fonts/circe/Circe-ExtraLight.eot");
  src: local("Circe ExtraLignt"), local("CirceExtraLight"), url("/fonts/circe/Circe-ExtraLight.eot?#iefix") format("embedded-opentype"), url("/fonts/circe/Circe-ExtraLight.woff") format("woff"), url("/fonts/circe/Circe-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Circe";
  src: url("/fonts/circe/Circe-Light.eot");
  src: local("Circe Light"), local("CirceLight"), url("/fonts/circe/Circe-Light.eot?#iefix") format("embedded-opentype"), url("/fonts/circe/Circe-Light.woff") format("woff"), url("/fonts/circe/Circe-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Circe";
  src: url("/fonts/circe/Circe-Regular.eot");
  src: local("Circe Regular"), local("CiceRegular"), url("/fonts/circe/Circe-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/circe/Circe-Regular.woff") format("woff"), url("/fonts/circe/Circe-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Circe";
  src: url("/fonts/circe/Circe-Thin.eot");
  src: local("Circe Thin"), local("CirceThin"), url("/fonts/circe/Circe-Thin.eot?#iefix") format("embedded-opentype"), url("/fonts/circe/Circe-Thin.woff") format("woff"), url("/fonts/circe/Circe-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Axiforma";
  src: url("/fonts/axiforma/Axiforma-Book.eot");
  src: local("Axiforma Book"), local("AxiformaBook"), url("/fonts/axiforma/Axiforma-Book.eot?#iefix") format("embedded-opentype"), url("/fonts/axiforma/Axiforma-Book.woff") format("woff"), url("/fonts/axiforma/Axiforma-Book.ttf") format("truetype");
  font-weight: 350;
  font-style: normal;
}

@font-face {
  font-family: "Axiforma";
  src: url("/fonts/axiforma/Axiforma-Bold.eot");
  src: local("Axiforma Bold"), local("AxiformaBold"), url("/fonts/axiforma/Axiforma-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/axiforma/Axiforma-Bold.woff") format("woff"), url("/fonts/axiforma/Axiforma-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/helvetica/HelveticaNeue.eot");
  src: local("Helvetica Neue Regular"), local("HelveticaNeueRegular"), url("/fonts/helvetica/HelveticaNeue.eot?#iefix") format("embedded-opentype"), url("/fonts/helvetica/HelveticaNeue.woff") format("woff"), url("/fonts/helvetica/HelveticaNeue.ttf"), format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/helvetica/HelveticaNeue-Bold.eot");
  src: local("Helvetica Neue Bold"), local("HelveticaNeueBold"), url("/fonts/helvetica/HelveticaNeue-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/helvetica/HelveticaNeue-Bold.woff") format("woff"), url("/fonts/helvetica/HelveticaNeue-Bold.ttf"), format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue Medium";
  src: url("/fonts/helvetica/HelveticaNeue-Medium.eot");
  src: local("Helvetica Neue Medium"), local("HelveticaNeueMedium"), url("/fonts/helvetica/HelveticaNeue-Medium.eot?#iefix") format("embedded-opentype"), url("/fonts/helvetica/HelveticaNeue-Medium.woff") format("woff"), url("/fonts/helvetica/HelveticaNeue-Medium.ttf"), format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue Medium"), local("Helvetica-Neue-Medium"), url("/fonts/helvetica/HelveticaNeueCyr-Medium.woff2") format("woff2"), url("/fonts/helvetica/HelveticaNeueCyr-Medium.woff") format("woff"), url("/fonts/helvetica/HelveticaNeueCyr-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Intro Script B H2 Shade";
  src: url("/fonts/introscript/IntroScriptB-Base.eot");
  src: local("Intro Script B H2 Shade"), local("IntroScriptB-H2Shade"), url("/fonts/introscript/IntroScriptB-H2Shade.eot?#iefix") format("embedded-opentype"), url("/fonts/introscript/IntroScriptB-H2Shade.woff") format("woff"), url("/fonts/introscript/IntroScriptB-H2Shade.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Intro Script B H2 Base Shade";
  src: url("/fonts/introscript/IntroScriptB-H2BaseShade.eot");
  src: local("Intro Script B H2 Base Shade"), local("IntroScriptB-H2BaseShade"), url("/fonts/introscript/IntroScriptB-H2BaseShade.eot?#iefix") format("embedded-opentype"), url("/fonts/introscript/IntroScriptB-H2BaseShade.woff") format("woff"), url("/fonts/introscript/IntroScriptB-H2BaseShade.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Intro Script B G Base";
  src: url("/fonts/introscript/IntroScriptB-GBase.eot");
  src: local("Intro Script B G Base"), local("IntroScriptB-GBase"), url("/fonts/introscript/IntroScriptB-GBase.eot?#iefix") format("embedded-opentype"), url("/fonts/introscript/IntroScriptB-GBase.woff") format("woff"), url("/fonts/introscript/IntroScriptB-GBase.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Intro Script B L Base Shade";
  src: url("/fonts/introscript/IntroScriptB-LBaseShade.eot");
  src: local("Intro Script B L Base Shade"), local("IntroScriptB-LBaseShade"), url("/fonts/introscript/IntroScriptB-LBaseShade.eot?#iefix") format("embedded-opentype"), url("/fonts/introscript/IntroScriptB-LBaseShade.woff") format("woff"), url("/fonts/introscript/IntroScriptB-LBaseShade.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Intro Script B L Base";
  src: url("/fonts/introscript/IntroScriptB-LBase.eot");
  src: local("Intro Script B L Base"), local("IntroScriptB-LBase"), url("/fonts/introscript/IntroScriptB-LBase.eot?#iefix") format("embedded-opentype"), url("/fonts/introscript/IntroScriptB-LBase.woff") format("woff"), url("/fonts/introscript/IntroScriptB-LBase.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Intro Script B Base Shade";
  src: url("/fonts/introscript/IntroScriptB-BaseShade.eot");
  src: local("Intro Script B Base Shade"), local("IntroScriptB-BaseShade"), url("/fonts/introscript/IntroScriptB-BaseShade.eot?#iefix") format("embedded-opentype"), url("/fonts/introscript/IntroScriptB-BaseShade.woff") format("woff"), url("/fonts/introscript/IntroScriptB-BaseShade.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Intro Script B H1";
  src: url("/fonts/introscript/IntroScriptB-H1.eot");
  src: local("Intro Script B H1"), local("IntroScriptB-H1"), url("/fonts/introscript/IntroScriptB-H1.eot?#iefix") format("embedded-opentype"), url("/fonts/introscript/IntroScriptB-H1.woff") format("woff"), url("/fonts/introscript/IntroScriptB-H1.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Intro Script B H2";
  src: url("/fonts/introscript/IntroScriptB-H2.eot");
  src: local("Intro Script B H2"), local("IntroScriptB-H2"), url("/fonts/introscript/IntroScriptB-H2.eot?#iefix") format("embedded-opentype"), url("/fonts/introscript/IntroScriptB-H2.woff") format("woff"), url("/fonts/introscript/IntroScriptB-H2.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Intro Script BL";
  src: url("/fonts/introscript/IntroScriptB-L.eot");
  src: local("Intro Script B L"), local("IntroScriptB-L"), url("/fonts/introscript/IntroScriptB-L.eot?#iefix") format("embedded-opentype"), url("/fonts/introscript/IntroScriptB-L.woff") format("woff"), url("/fonts/introscript/IntroScriptB-L.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Intro Script B Shade";
  src: url("/fonts/introscript/IntroScriptB-Shade.eot");
  src: local("Intro Script B Shade"), local("IntroScriptB-Shade"), url("/fonts/introscript/IntroScriptB-Shade.eot?#iefix") format("embedded-opentype"), url("/fonts/introscript/IntroScriptB-Shade.woff") format("woff"), url("/fonts/introscript/IntroScriptB-Shade.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Intro Script B L Shade";
  src: url("/fonts/introscript/IntroScriptB-LShade.eot");
  src: local("Intro Script B L Shade"), local("IntroScriptB-LShade"), url("/fonts/introscript/IntroScriptB-LShade.eot?#iefix") format("embedded-opentype"), url("/fonts/introscript/IntroScriptB-LShade.woff") format("woff"), url("/fonts/introscript/IntroScriptB-LShade.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Intro Script B H1 Base";
  src: url("/fonts/introscript/IntroScriptB-H1Base.eot");
  src: local("Intro Script B H1 Base"), local("IntroScriptB-H1Base"), url("/fonts/introscript/IntroScriptB-H1Base.eot?#iefix") format("embedded-opentype"), url("/fonts/introscript/IntroScriptB-H1Base.woff") format("woff"), url("/fonts/introscript/IntroScriptB-H1Base.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Futura-Medium";
  src: url("/fonts/futura/FuturaPT-Medium.eot");
  src: url("/fonts/futura/FuturaPT-Medium.eot?#iefix") format("embedded-opentype"), url("/fonts/futura/FuturaPT-Medium.ttf") format("truetype"), url("/fonts/futura/FuturaPT-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Intro Script B H1 Shade";
  src: url("/fonts/introscript/IntroScriptB-H1Shade.eot");
  src: local("Intro Script B H1 Shade"), local("IntroScriptB-H1Shade"), url("/fonts/introscript/IntroScriptB-H1Shade.eot?#iefix") format("embedded-opentype"), url("/fonts/introscript/IntroScriptB-H1Shade.woff") format("woff"), url("/fonts/introscript/IntroScriptB-H1Shade.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Intro Script B H2 Base";
  src: url("/fonts/introscript/IntroScriptB-H2Base.eot");
  src: local("Intro Script B H2 Base"), local("IntroScriptB-H2Base"), url("/fonts/introscript/IntroScriptB-H2Base.eot?#iefix") format("embedded-opentype"), url("/fonts/introscript/IntroScriptB-H2Base.woff") format("woff"), url("/fonts/introscript/IntroScriptB-H2Base.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Intro Script B G Base Shade";
  src: url("/fonts/introscript/IntroScriptB-GBaseShade.eot");
  src: local("Intro Script B G Base Shade"), local("IntroScriptB-GBaseShade"), url("/fonts/introscript/IntroScriptB-GBaseShade.eot?#iefix") format("embedded-opentype"), url("/fonts/introscript/IntroScriptB-GBaseShade.woff") format("woff"), url("/fonts/introscript/IntroScriptB-GBaseShade.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Intro Script BG";
  src: url("/fonts/introscript/IntroScriptB-G.eot");
  src: local("Intro Script B G"), local("IntroScriptB-G"), url("/fonts/introscript/IntroScriptB-G.eot?#iefix") format("embedded-opentype"), url("/fonts/introscript/IntroScriptB-G.woff") format("woff"), url("/fonts/introscript/IntroScriptB-G.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Intro Script B H1 Base Shade";
  src: url("/fonts/introscript/IntroScriptB-H1BaseShade.eot");
  src: local("Intro Script B H1 Base Shade"), local("IntroScriptB-H1BaseShade"), url("/fonts/introscript/IntroScriptB-H1BaseShade.eot?#iefix") format("embedded-opentype"), url("/fonts/introscript/IntroScriptB-H1BaseShade.woff") format("woff"), url("/fonts/introscript/IntroScriptB-H1BaseShade.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Intro Script B Base";
  src: url("/fonts/introscript/IntroScriptB-Base.eot");
  src: local("Intro Script B Base"), local("IntroScriptB-Base"), url("/fonts/introscript/IntroScriptB-Base.eot?#iefix") format("embedded-opentype"), url("/fonts/introscript/IntroScriptB-Base.woff") format("woff"), url("/fonts/introscript/IntroScriptB-Base.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Intro Script B G Shade";
  src: url("/fonts/introscript/IntroScriptB-GShade.eot");
  src: local("Intro Script B G Shade"), local("IntroScriptB-GShade"), url("/fonts/introscript/IntroScriptB-GShade.eot?#iefix") format("embedded-opentype"), url("/fonts/introscript/IntroScriptB-GShade.woff") format("woff"), url("/fonts/introscript/IntroScriptB-GShade.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@media (max-width: 1560px) {
  .fullscreen-bg {
    height: 100%;
  }
}

@media (max-width: 992px) {
  .garden-section img.big-map-pic {
    width: 100%;
  }

  .garden-section {
    height: 100%;
  }

  .garden-section .row.main-content-text {
    background: url(/img/tree.png);
    background-repeat: no-repeat;
    background-position: 0% 31%;
  }

  .nav-links li {
    margin: unset;
  }

  .navbar {
    flex-direction: row-reverse;
  }

  .garden-section .main-content-text {
    justify-content: flex-start;
    align-items: center;
    padding: 30px 0px;
  }

  .garden-section .main-content-text p {
    font-size: 1.1rem;
  }

  .garden-section .main-content-text h1 {
    font-size: 2rem;
  }
}

@media (max-width: 767px) {
  .garden-section .row.main-content-text {
    background-size: auto;
  }

  .instagram-info h1 {
    font-size: 2.3rem;
  }

  .full-screen .main-content-text {
    text-align: center;
  }

  .full-screen .miles-of-city {
    justify-content: center;
  }

  .garden-section .main-content-text .instagram-info {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: flex;
  }

  .garden-section .main-content-text .instagram-info p {
    text-align: center;
  }
}

@media (max-width: 575px) {
  .garden-section .row.main-content-text {
    background-image: url(/img/tree.png);
    background-position: 0% 30%;
    background-size: auto;
  }

  footer .container {
    flex-wrap: wrap;
  }
}

@media (max-width: 545px) {
  .garden-section .row.main-content-text {
    /* background-image: unset; */
  }
}

@media (max-width: 425px) {
  .logo-wrapper img {
    width: 75%;
  }

  .logo-wrapper {
    width: 75%;
  }
}

@media (max-width: 460px) {
  .footer .footer-line {
    flex-direction: column;
    align-items: center;
  }
}

[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-book_opened:before {
  content: "\E901";
}

.icon-instagram:before {
  content: "\E902";
}

.icon-youtube:before {
  content: "\E903";
}

.icon-map_ico:before {
  content: "\E900";
  color: #FFCA00;
}

.futura {
  font-family: Futura-Medium;
}

.medium {
  font-weight: 500;
}

.bold {
  font-weight: 600;
}

.regular {
  font-weight: 400;
}

.font-16 {
  font-size: 1rem;
}

.font-14 {
  font-size: 0.875rem;
}

.font-18 {
  font-size: 1.125rem;
}

.font-20 {
  font-size: 1.25rem;
}

.font-21 {
  font-size: 1.3125rem;
}

.font-22 {
  font-size: 1.375rem;
}

.font-24 {
  font-size: 1.5rem;
}

.font-42 {
  font-size: 2.625rem;
}

.font-48 {
  font-size: 3rem;
}

.font-54 {
  font-size: 3.375rem;
}

.intro-script {
  font-family: Intro Script B Base;
  font-weight: 400;
}

.halvetica-neue-medium {
  font-family: Helvetica Neue;
}

.circe-bold {
  font-family: Circe;
  font-weight: 600;
  font-size: 1.125rem;
}

.circe-regular {
  font-family: Circe;
  font-weight: 400;
}

body {
  font-family: Circe;
  font-weight: 350;
}

.logo-wrapper {
  -webkit-filter: invert(87%) sepia(79%) saturate(733%) hue-rotate(356deg) brightness(107%) contrast(108%);
          filter: invert(87%) sepia(79%) saturate(733%) hue-rotate(356deg) brightness(107%) contrast(108%);
}

.background-house .main-content-text p.halvetica-neue-medium {
  font-size: 1.25rem;
  color: #0F9078;
}

.navs {
  display: flex;
  height: 90px;
  align-items: center;
  position: relative;
  justify-content: space-between;
  z-index: 2;
  flex-wrap: wrap;
}

.full-screen {
  height: 100vh;
  margin-top: -90px;
}

.main-content-text {
  display: flex;
  /* color: white; */
}

.video-bg .main-content-text {
  color: white;
  align-items: center;
}

.video-bg .main-content-text .intro-script {
  color: white;
  font-size: 3rem;
}

.background-house .main-content-text .intro-script {
  /* font-size: 3rem; */
}

.nav-links li {
  display: inline;
  margin-right: 46px;
  color: white;
}

.nav-links li:last-child {
  margin-right: 0%;
}

.nav-links ul {
  color: #0F9078;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
}

.full-screen .main-content-text .miles-of-city .icon-map_ico {
  font-size: 1.5rem;
  margin-right: 15px;
}

.miles-of-city {
  display: flex;
  align-items: center;
}

.garden-section {
  min-height: 100vh;
  /* position: relative; */
}

.garden-section .main-content-text {
  background: url(/img/dot-map.svg);
  background-size: 395px;
  position: relative;
  background-repeat: no-repeat;
  background-position: 0% 35%;
  padding: 50px 0;
}

.garden-section .main-content-text .popup-area {
  bottom: 28%;
  left: 186px;
  position: absolute;
  width: 50px;
  height: 50px;
}

.garden-section .main-content-text .popup-area:hover .popup-box {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.garden-section .main-content-text .popup-area .popup-box {
  transition: all 0.3s ease-in-out;
  background: url(/images/popup.svg?a3e7ece5b190cab07f0387d5165aa724);
  position: absolute;
  width: 190px;
  height: 103px;
  padding: 25px;
  text-align: center;
  top: -55px;
  left: -68px;
  opacity: 0;
}

.garden-section .main-content-text .popup-area .popup-area:hover {
  display: block;
}

.map-wrap {
  display: flex;
  justify-content: flex-end;
}

.instagram-info {
  line-height: 1.8rem;
  padding: 70px;
}

.instagram-info p {
  color: #606C7C;
}

.big-map {
  height: 100%;
  position: relative;
  background: url(/img/street-photo.png);
  background-size: cover;
  display: flex;
  align-items: center;
  min-height: 100vh;
  justify-content: space-around;
}

.big-map:before {
  background-color: rgba(38, 41, 49, 0.85);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}

.header {
  z-index: 1000;
  text-align: center;
}

.big-map .header h1 {
  padding: 30px;
  font-size: 2.625rem;
  color: white;
}

.big-map .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px 0px;
}

.big-map .cards .card,
.tabs .card {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  background-color: transparent;
  border: none;
}

.card .flag {
  position: absolute;
  left: 30px;
  top: -30px;
  border-radius: 0px 0px 25px 25px;
  width: 50px;
  height: 70px;
  z-index: 500;
}

.card .flag.yellow {
  background-color: rgba(255, 202, 0, 0.9);
}

.card .flag.blue {
  background-color: rgba(32, 125, 255, 0.9);
}

.card .flag.salad {
  background-color: rgba(133, 239, 71, 0.9);
}

.card .flag.green {
  background-color: rgba(0, 189, 86, 0.9);
}

.card .flag.purple {
  background-color: rgba(136, 32, 255, 0.9);
}

.big-map .cards .card:first-child {
  margin-left: 0px;
}

.big-map .cards .card:last-child {
  margin-right: 0px;
}

.big-map .main-content-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px 0;
}

.big-map .cards .card .picture {
  width: inherit;
  height: 200px;
  border-radius: 10px 10px 0px 0px;
  /* box-shadow: 0 0 30px rgba(0,0,0,0.3); */
}

.big-map .cards .card .article {
  height: 170px;
  width: inherit;
  padding: 20px;
  background-color: transparent;
  border-radius: 0px 0px 10px 10px;
  font-family: Futura-Medium;
  /* box-shadow: 0 0 30px rgba(0,0,0,0.3); */
}

.big-map .cards .card .article .headliner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.big-map .cards .card .article .headliner .title {
  color: #FFCA00;
}

.big-map .cards .card .article .headliner .date {
  color: rgba(255, 255, 255, 0.6);
}

.big-map .cards .card .article .date {
  vertical-align: middle;
  color: rgba(20, 45, 76, 0.8);
  margin-bottom: 5px;
}

.big-map .cards .card .article .main-text {
  font-family: Futura-Medium;
  font-weight: 400;
  color: white;
  font-size: 1rem;
}

.button-block.see-all {
  padding: 10px;
  border-radius: 40px;
  width: 220px;
  height: 80px;
  z-index: 1000;
}

.button-block.see-all .button-text {
  font-size: 0.875rem;
}

.button-block.see-all button {
  border-radius: 30px;
  background-color: #FFCA00;
  width: 200px;
  height: 60px;
  border: none;
}

.button-block.see-all button span {
  font-family: Futura-Medium;
  font-weight: 500;
  font-size: 0.875rem;
}

.container-wider {
  max-width: 1302px !important;
}

.tabs {
  background-image: url(/img/tabs-instagram-bg.png);
  min-height: 100vh;
  justify-content: space-between;
  background-repeat: no-repeat;
  align-items: center;
  flex-direction: column;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.tabs .tab-toggler {
  width: 682px;
  height: 270px;
  margin: 0 auto;
  background: url(/images/tab-panel.png?fdeee7f5fd491e37c790a00785ccdeb1) no-repeat;
  background-size: 100%;
  position: relative;
}

.tabs .tab-toggler .tab-btn {
  width: 80px;
  height: 80px;
  position: absolute;
  border-radius: 50%;
  border: 0.5px solid #C1C1C1;
  line-height: 1;
}

.tabs .tab-toggler .tab-btn.tab-btn-instagram {
  padding: 24px;
  left: 90px;
  top: 57px;
}

.tabs .tab-toggler .tab-btn.tab-btn-instagram .icon-gradient-inst {
  color: #3E434E;
  margin: auto;
  font-size: 2rem;
}

.tabs .tab-toggler .tab-btn.tab-btn-youtube {
  padding: 26px 23px;
  bottom: 26px;
  left: 298px;
  color: #0B2349;
  font-size: 1.7rem;
}

.tabs .tab-toggler .tab-btn.tab-btn-bookopened {
  padding: 26px 23px;
  top: 57px;
  right: 89px;
  color: #0B2349;
  font-size: 1.7rem;
}

.tabs .tab-toggler [aria-selected=true] {
  color: unset;
  background-color: transparent !important;
}

.tabs .tab-toggler [aria-selected=true] .tab-btn {
  background-color: white !important;
}

.tabs .tab-toggler [aria-selected=true] .tab-btn.tab-btn-instagram .icon-gradient-inst {
  background: linear-gradient(45deg, #FFDD20 3%, #FF4343 52%, #B762FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0B2349;
  display: table;
}

.tabs .tab-toggler [aria-selected=true] .tab-btn.tab-btn-youtube {
  color: #FF2020;
}

.tabs .tab-toggler [aria-selected=true] .tab-btn.tab-btn-bookopened {
  color: #FFCA00;
}

.tabs .card {
  background-color: transparent;
  border: none;
}

.tabs .card span {
  position: absolute;
  bottom: 30px;
  left: 20px;
  z-index: 500;
  color: white;
}

.tabs .card span img {
  margin-right: 10px;
}

.shadow-box {
  position: relative;
  max-width: 100%;
  float: left;
  border-radius: 10px;
}

.shadow-box::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: inset 0px -145px 200px -115px black;
  border-radius: 10px;
  z-index: 500;
}

.shadow-box img {
  float: left;
  width: 100%;
}

.tabs .card .main {
  width: 295px;
  height: 295px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: baseline;
}

.tabs .card p {
  position: absolute;
  bottom: 75px;
  margin: 0 20px;
  font-family: Circe;
  font-weight: 400;
  font-size: 1rem;
  color: white;
  z-index: 500;
}

.tab-content {
  margin-top: -100px;
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  height: 100%;
  right: 0;
}

.footer {
  background-color: #D8D8D8;
  padding: 31px 0;
  margin-top: 50px;
}

.footer .footer-line {
  display: flex;
  justify-content: space-between;
  font-family: Futura-Medium;
}

.navbar-dark .navbar-toggler {
  border: none;
}

.navbar {
  height: 90px;
}

.video_wrap {
  position: absolute;
  overflow: hidden;
  z-index: -999;
  display: flex;
  justify-content: center;
}

.video_bg {
  display: block;
  position: relative;
  z-index: 0;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.video_wrap::before {
  z-index: 500;
  background-color: rgba(238, 253, 250, 0.25);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}

grid-container * {
  border: 1px solid red;
  position: relative;
}

.grid-container {
  display: grid;
  grid-template-columns: 1.39fr 1.39fr 1.39fr 0.3fr 2.76fr 0.3fr 1.39fr 1.39fr 1.39fr;
  grid-template-rows: 0.27fr 2.02fr 0.76fr 0.29fr 0.31fr 1.73fr 1.05fr 0.29fr;
  grid-template-areas: "img1 img1 . . . . . . ." "img1 img1 . . . . . img4 img4" "img1 img1 . . img3 . . img4 img4" ". . . . img3 . . img4 img4" ". img2 img2 . img3 . . . ." ". img2 img2 . img3 . img5 img5 ." ". img2 img2 . . . img5 img5 ." ". . . . . . img5 img5 .";
}

.img1 {
  grid-area: img1;
  width: 300px;
}

.img2 {
  grid-area: img2;
  width: 300px;
}

.img3 {
  grid-area: img3;
  width: 300px;
}

.img4 {
  grid-area: img4;
  width: 300px;
}

.img5 {
  grid-area: img5;
  width: 300px;
}

@media (max-width: 1362px) {
  .grid-container {
    display: grid;
    grid-template-columns: 0.25fr 0.75fr 0.25fr 0.13fr 1fr 0.13fr 0.25fr 0.75fr 0.25fr;
    grid-template-rows: 0.66fr 0.33fr 0.13fr 0.54fr 0.46fr;
    grid-template-areas: "img1 img1 . . . . . img4 img4" "img1 img1 . . img3 . . img4 img4" ". . . . img3 . . . ." ". img2 img2 . img3 . img5 img5 ." ". img2 img2 . . . img5 img5 .";
  }

  .img1 {
    grid-area: img1;
  }

  .img2 {
    grid-area: img2;
  }

  .img3 {
    grid-area: img3;
  }

  .img4 {
    grid-area: img4;
  }

  .img5 {
    grid-area: img5;
  }
}

@media (max-width: 1200px) {
  .grid-container {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.13fr 0.37fr 0.26fr 0.37fr 0.13fr 0.5fr 0.5fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.13fr 1fr;
    grid-template-areas: "img1 img1 . . . . . img4 img4" "img1 img1 . img3 img3 img3 . img4 img4" ". . . img3 img3 img3 . . ." ". . . . . . . . ." ". img2 img2 img2 . img5 img5 img5 .";
  }

  .tabs .button-block.see-all {
    margin: unset;
  }
}

@media (max-width: 993px) {
  .grid-container {
    display: grid;
    grid-template-columns: 0.66fr 0.33fr 0.33fr 0.33fr 0.66fr;
    grid-template-rows: 1fr 0.13fr 1fr 0.13fr 1fr;
    grid-template-areas: "img1 img1 . img4 img4" ". . . . ." ". img3 img3 img3 ." ". . . . ." "img2 img2 . img5 img5";
  }
}

@media (max-width: 769px) {
  .grid-container {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.gradient-inst {
  font-size: 50px;
  text-transform: uppercase;
  background: linear-gradient(45deg, #0B2349 33%, #0D61BC 66%, #8AA9D6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0B2349;
  display: table;
  margin: 20px auto;
}

